body {
    box-sizing: border border-box;
    margin:0;
    padding: 0;
    height: 100vh;
    font-family: 'noto sans',sans-serif;
    color: #222222;
  }
 
 
  .btn-verde {
    text-decoration: none;
    color: White;
    font-size: 0.8rem;
    font-family: 'montserrat',sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #55efc4;
    padding: 1rem 2rem;
    display: inline-block;
    align-self: center;
  }

  #principal {    
  width:100%; ;  
  max-width:1200px;
  margin: 50px auto 0 auto;    

}
  .frase {
    text-align: center;
    color: black;
  }
  
.ocultar {

  display:none;
  }
  .mostrar{
  display:block;
   }
   
  /*terminan los reutilizables*/
  
  /*comienza 1ra sección*/
  
  #primera-seccion{
    background: linear-gradient(rgba(68,13,13,0.35),rgba(38,2,2,0.446)),url(fondo.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color:white;
  }
  
  #barra-navegacion{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 5rem;
    padding-top: 2rem;
    padding-bottom: 2rem; 
  }
  #logo {
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-stretch: wider;
  }
  nav>a {
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  nav>a:hover {
    color: #44bd32;
  }
  #primera-seccion-contenido{
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  #primera-seccion-contenido>p {
    text-transform: capitalize;
    font-family: 'montserrat',sans-serif;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }
  #primera-seccion-contenido> hr {
    width: 4.5rem;
    border-color: #44bd32;
  }
  #primera-seccion-contenido > h1 {
    font-family: 'montserrat',sans-serif;
    text-transform: uppercase;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2.5rem;
  }
  /*termina la primera sección*/
  
  /*comienza la segunda sección*/
  #segunda-seccion{
    background-color: #f4f5f9;
    min-height: 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3rem;
  }
  /*termina segunda sección*/
  /*comienza tercera sección*/
  
  #tercera-seccion{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 80%;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  
  #titulo {
    margin-bottom: 2rem;
  }
  
  #titulo >h2 {
    text-transform: uppercase;
    text-align: center;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  #titulo > hr {
    width: 4.5rem;
    border-color: #44bd32;
  }
  
  #container-tercera-seccion{
    text-align: center;
    display: flex;
    flex-direction: row;
  }
  .img-tercera{
    padding-right: 1rem;
    padding-left: 1rem;
  }
  
  .img-tercera > h6 {
    text-align: center;
    font-family: 'montserrat',sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  
  .img-tercera>p{
    margin-bottom: 2rem;
  }
  
  .img-tercera > img {
    max-width: 100%;
  }
  
  /*termina tercera sección*/
  
  /*comienza la 4ta sección*/
  
  #cuarta-seccion {
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.905)),url(fondo2.jpg) no-repeat center/cover;
    background-attachment: fixed;
    height: 100vh;
    color:white;
    display: flex;
    flex-direction: column;
    width:100%;
   margin:2em;

  }
  #contenedor {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
   .mitad {
     width: 50%;
   }
  
  #cuarta-seccion-der >h3 {
    text-transform: uppercase;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  #cuarta-seccion-der >hr {
    width: 4.5rem;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;
  }
  
  #cuarta-seccion-der >p {
    margin-bottom: 4rem;
  }
  
  /*termina 4ta sección*/
  /*comienza 5ta sección*/
  #quinta-seccion {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 5rem;
    padding-bottom: 5rem;
  }
  #quinta-seccion-izquierda{
    flex: 1;
  }
  
  #quinta-seccion-izquierda >h3 {
    text-transform: uppercase;
    font-family: 'montserrat',sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  
  #quinta-seccion-izquierda >p {
    margin-bottom: 4rem;
  }
  
  #quinta-seccion-derecha{
    flex: 2;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap:15px 10px;
    justify-items: center;
    align-items: center;
  }
  
  #quinta-seccion-derecha > img {
    max-width: 100%;
  }
  
  #quinta-seccion-derecha >hr {
    width: 4.5rem;
    border-color: #44bd32;
    margin-left: 0;
    margin-bottom: 3rem;
  }
  /*termina 5ta sección*/
  /*footer*/
  
  footer{
    background-color: black;
    color: white;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  /*aquí termina el footer*/
  
  